<a href="https://colab.research.google.com/github/karthikeya5116-cmyk/2025_2026-4074-karthikeya-ai-b-ds/blob/main/dataframereaarngment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Create the data
data = {
    "Name": ["A", "B", "C", "D"],
    "Age": [20, 21, 19, 22],
    "Marks": [85, 90, 78, 88]
}

# Create the DataFrame
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

  Name  Age  Marks
0    A   20     85
1    B   21     90
2    C   19     78
3    D   22     88

In [2]:
# Sort rows by Marks (ascending order)
df_sorted_asc = df.sort_values(by="Marks")
print("\nDataFrame sorted by Marks (ascending):")
print(df_sorted_asc)

# Sort rows by Marks (descending order)
df_sorted_desc = df.sort_values(by="Marks", ascending=False)
print("\nDataFrame sorted by Marks (descending):")
print(df_sorted_desc)

DataFrame sorted by Marks (ascending):
  Name  Age  Marks
2    C   19     78
0    A   20     85
3    D   22     88
1    B   21     90

DataFrame sorted by Marks (descending):
  Name  Age  Marks
1    B   21     90
3    D   22     88
0    A   20     85
2    C   19     78

In [3]:
# Rearrange columns: Marks, Name, Age
df_reordered = df[["Marks", "Name", "Age"]]

print("\nDataFrame with columns rearranged:")
print(df_reordered)

DataFrame with columns rearranged:
   Marks Name  Age
0     85    A   20
1     90    B   21
2     78    C   19
3     88    D   22