<a href="https://colab.research.google.com/github/karthikeya5116-cmyk/2025_2026-4074-karthikeya-ai-b-ds/blob/main/week4%5Cmissing_values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#descriptive statistic function
import pandas as pd
data={
    "age":[22,25,47,35,46,50,28,33,39,41],
    "salary":[3000,3200,5500,4000,5200,6000,3500,3700,4500,4800]
}
df=pd.DataFrame(data)
print("Summary Statistics:")
print("mean:",df.mean())
print("median:",df.median())
print("mode:",df.mode())
print("\n minimum value:",df.min())
print("\n maximum value:",df.max())
print("\n standard deviation",df.std())
print("\n variance:",df.var())
print("\n count:",df.count())
print("\n skewness:",df.skew())
print("\n kurtosis:",df.kurt())

Summary Statistics:
mean: age         36.6
salary    4340.0
dtype: float64
median: age         37.0
salary    4250.0
dtype: float64
mode:    age  salary
0   22    3000
1   25    3200
2   28    3500
3   33    3700
4   35    4000
5   39    4500
6   41    4800
7   46    5200
8   47    5500
9   50    6000

 minimum value: age         22
salary    3000
dtype: int64

 maximum value: age         50
salary    6000
dtype: int64

 standard deviation age          9.651713
salary    1022.198067
dtype: float64

 variance: age       9.315556e+01
salary    1.044889e+06
dtype: float64

 count: age       10
salary    10
dtype: int64

 skewness: age      -0.138915
salary    0.271889
dtype: float64

 kurtosis: age      -1.287437
salary   -1.223068
dtype: float64

In [2]:
import pandas as pd
# Creating a sample dataset with missing values
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, None, 35, 40, 28],  # Bob has missing age
    'Salary': [50000, 60000, None, 70000, 62000],  # Charlie has missing salary
    'Allowances': [2000, None, 2000, 2000, 2500]  # Bob has missing allowance
}
df = pd.DataFrame(data)
# 1. Checking for missing values in each column
print("Missing Values Count:\n", df.isnull().sum())
# 2. Dropping rows with any missing values
df_cleaned = df.dropna()
print("\nDataFrame after dropping missing values:\n", df_cleaned)
# 3. Filling missing values with specific values
df_filled = df.fillna({'Age': df['Age'].mean(), 'Salary': df['Salary'].mean(), 'Allowances': 2000})
print("\nDataFrame after filling missing values:\n", df_filled)

Missing Values Count:
 Name          0
Age           1
Salary        1
Allowances    1
dtype: int64

DataFrame after dropping missing values:
     Name   Age   Salary  Allowances
0  Alice  25.0  50000.0      2000.0
3  David  40.0  70000.0      2000.0
4    Eve  28.0  62000.0      2500.0

DataFrame after filling missing values:
       Name   Age   Salary  Allowances
0    Alice  25.0  50000.0      2000.0
1      Bob  32.0  60000.0      2000.0
2  Charlie  35.0  60500.0      2000.0
3    David  40.0  70000.0      2000.0
4      Eve  28.0  62000.0      2500.0