<a href="https://colab.research.google.com/github/karthikeya5116-cmyk/2025_2026-4074-karthikeya-ai-b-ds/blob/main/DataManipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Data Manipulation
import pandas as pd

# create Dataframe
data = {
    "Name": ["A", "B", "C"],
    "Age": [20, 21, 22],
    "Marks": [70, 80, 90]
}

df = pd.DataFrame(data)

print("Original Data:")
print(df)

# Add new column
df["Bonus"] = 5
print("\n After adding Bonus:")
print(df)

# Increase marks
df["Marks"] = df["Marks"] + 2
print("\n After increasing marks")
print(df)

# Change value
df.loc[0, "Age"] = 21
print("\n After changing age of first student:")
print(df)

# Rename column
df.rename(columns={"total": "final"}, inplace=True)
print("\n After renaming total to final:")
print(df)

# Remove column
df.drop("Bonus", axis=1, inplace=True)
print("\n After removing Bonus:")
print(df)

Original Data:
  Name  Age  Marks
0    A   20     70
1    B   21     80
2    C   22     90

 After adding Bonus:
  Name  Age  Marks  Bonus
0    A   20     70      5
1    B   21     80      5
2    C   22     90      5

 After increasing marks
  Name  Age  Marks  Bonus
0    A   20     72      5
1    B   21     82      5
2    C   22     92      5

 After changing age of first student:
  Name  Age  Marks  Bonus
0    A   21     72      5
1    B   21     82      5
2    C   22     92      5

 After renaming total to final:
  Name  Age  Marks  Bonus
0    A   21     72      5
1    B   21     82      5
2    C   22     92      5

 After removing Bonus:
  Name  Age  Marks
0    A   21     72
1    B   21     82
2    C   22     92