<a href="https://colab.research.google.com/github/karthikeya5116-cmyk/2025_2026-4074-karthikeya-ai-b-ds/blob/main/DataFiltering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Data filtering
import pandas as pd

data = {
    "ID": [101, 102, 103, 104, 105],
    "Name": ["Alice", "Bob", "Charlie", "David", "Eva"],
    "Age": [22, 25, 23, 24, 26],
    "Marks": [85, 78, 92, 88, 90]
}

df = pd.DataFrame(data)

print("Original Dataframe:")
print(df)

print("\n Students with marks >85:")
print(df[df["Marks"] > 85])

print("\n student with age <25:")
print(df[df["Age"] < 25])

print(df[(df["Age"] > 23) & (df["Marks"] > 88)])
print(df[df["Marks"] > 90], df["Age"] > 23)

Original Dataframe:
    ID     Name  Age  Marks
0  101    Alice   22     85
1  102      Bob   25     78
2  103  Charlie   23     92
3  104    David   24     88
4  105      Eva   26     90

 Students with marks >85:
    ID     Name  Age  Marks
2  103  Charlie   23     92
3  104    David   24     88
4  105      Eva   26     90

 student with age <25:
    ID     Name  Age  Marks
0  101    Alice   22     85
2  103  Charlie   23     92
3  104    David   24     88
    ID Name  Age  Marks
4  105  Eva   26     90
    ID     Name  Age  Marks
2  103  Charlie   23     92 0    False
1     True
2    False
3     True
4     True
Name: Age, dtype: bool